# List

In [ ]:
 """A list is a set of data enclosed within a square bracket '[]' and assigned to a particular variable name."""
"A list is a set of data enclosed within a square bracket '[]' and assigned to a particular variable name."

In [4]:
#Example:
Brands = ['Gucci', 'Prada', 'Puma', 'Nike'] #If we print the class which this belongs to, it will return 'list'

In [5]:
print(type(Brands))

<class 'list'>

In [6]:
#List can store various data types like; 'str', 'int', 'float' and 'bool'. Example;
Age = [12, 45, 71, 4]
Days = ['friday', 'sunday', 'monday', 'thursday']
answer = [True, True, False, True]
time = [2.30, 9.00, 6.25, 1.09]   #all these will return as class list.

In [7]:
type(Age)

list

In [8]:
type(Days)

list

In [9]:
type(answer)

list

In [10]:
type(time)

list

In [11]:
print(Age,Days,answer,time)

[12, 45, 71, 4] ['friday', 'sunday', 'monday', 'thursday'] [True, True, False, True] [2.3, 9.0, 6.25, 1.09]

In [22]:
info = ['Fiona', 17, 4.8, True]    #mixed data types will still return as list.

In [23]:
print(info)
type(info)

['Fiona', 17, 4.8, True]

list

# Characteristics Of List

In [24]:
"""1. List is ordered.
   2. It is changeable or mutable.
   3. It allows duplicate values.
   4. Lists can be nested.
   5. Lists Can Contain Arbitrary Objects*.
   6. Lists are located by index."""

'1. List is ordered.\n   2. It is changeable or mutable.\n   3. It allows duplicate values.\n   4. Lists can be nested.\n   5. Lists Can Contain Arbitrary Objects*.\n   6. Lists are located by index.'

In [25]:
#locating with index
info = ['Fiona', 17, 4.8, True]

In [26]:
print(info[0])

Fiona

In [27]:
print(info[-3])

17

In [28]:
print(info[3])

True

In [29]:
print(info[-2])

4.8

# List Constructor

In [30]:
#We construct list by using this function; VARIABLE = list((value)). e.g
shapes = list(('square','triangle','cone','cube','rectangle'))   #without using '[]'

In [31]:
type(shapes)

list

In [32]:
shapes

['square', 'triangle', 'cone', 'cube', 'rectangle']

# Changing Of Values In A LIST

In [33]:
#In changing/replacing values, we take note of the index(which starts with '0'.
#Using the variable "shapes" as example.
#we are swaping cone with pentagon.

In [34]:
shapes[2] = 'pentagon'
print(shapes)          #Taking note that 'cone' is index 2 in the list 'shapes', it has officially been removed and replaced with Pentagon.

['square', 'triangle', 'pentagon', 'cube', 'rectangle']

In [35]:
shapes[3] = 'trapezium'
print(shapes)                 #this one is actually just for fun *lol*

['square', 'triangle', 'pentagon', 'trapezium', 'rectangle']

# Using Range To Change/Add Multiple Value

In [ ]:
#Range  also involves you taking note of the value's index

In [36]:
Brand = ['Gucci', 'Prada', 'Puma', 'Nike'] 
Brand[1:2] = 'Zara', 'Dior'
print(Brand)

['Gucci', 'Zara', 'Dior', 'Puma', 'Nike']

In [37]:
Brand[3] = 'Fendi'
print(Brand)         #Don't mind me, not a 'Puma' fan.

['Gucci', 'Zara', 'Dior', 'Fendi', 'Nike']

In [39]:
#We can also use 'insert method' to add values.
Brand.insert(1, 'Vuiton')
print(Brand)                 #and just like that we've added 'vuiton' to the list using insert method and also taking note of desired index.

['Gucci', 'Vuiton', 'Vuiton', 'Zara', 'Dior', 'Fendi', 'Nike']

In [40]:
#The more you run the above list,the more it duplicates....that's why in the characteristics above,we said LISTS have the ability to duplicate.

In [41]:
Brand

['Gucci', 'Vuiton', 'Vuiton', 'Zara', 'Dior', 'Fendi', 'Nike']

In [42]:
#We can also use 'append method' to add values.
Brand.append('Versace')
print(Brand)

['Gucci', 'Vuiton', 'Vuiton', 'Zara', 'Dior', 'Fendi', 'Nike', 'Versace']

In [43]:
if 'Zara' in Brand:
    print('Yeah,we got this.')
else:
    print('Nahh,try again.')

Yeah,we got this.

In [44]:
if 'D&G' in Brand:
    print('Yeah,we got this.')
else:
    print('Nahh,try again.')

Nahh,try again.

In [45]:
Brand

['Gucci', 'Vuiton', 'Vuiton', 'Zara', 'Dior', 'Fendi', 'Nike', 'Versace']

In [46]:
#We have come to the end of this lesson,hope you enjoyed learning with me?.